/*Codigo Paleta de colores
- Amarillo: #fdd000
- Blanco: #fdd000
- Gris: #E5E5E5
- Negro: #000000
*/

/*Selectores universal*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}*


a{
    text-decoration: none;
    font-size: 20px;
}

:root{
    --fontTitle: #feed00;
    --fontColor: #0d0f05;
    --fontColorFotter: #E5E5E5;
}

/*body*/
body{
    height: 100vh;
    /*display: grid;
    grid-template-areas: 
    "header    header    header     header"
    "slidebar  slidebar  slidebar   slidebar"
    "section1  section2  section3   section4"
    "footer    footer    footer     footer";

    grid-template-columns: 100% 100% 100% 100%;
    grid-template-rows: 100% 100% 100% 100%;
    */
}

/*Encabezado*/
header{
    justify-content: space-between;
    align-items: center;
    background-color: #000000c9;
    font-family: "Nunito Sans", sans-serif; 
}



.menu-item{
    color: var(--fontTitle);
}

.btn-cuenta{
    background-color: #feed00;
    font-family: "Nunito Sans", sans-serif;
    font-size: medium;
    color: #0d0f05;
    display: flex;
    align-content: flex-end;
    padding: 4px;
    border-radius: 10px;

}

/*Banneer*/
.slidebar {
   position: relative;
   width: 100%;
}

.slidebar img{
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover; 
}

/**/

div a img{
    padding: 5px 0px;
    height: 70px;
}

nav ul{
    list-style-type:none;
    display: flex;
}

nav ul li{
    display: inline;
    text-align: center;
    margin: 0px 5px;
}

nav ul li a{
    color: var(--fontTitle)
}

/*Contenido*/
h4,h5, h6{
    font-family: "Nunito Sans", sans-serif;
}

#bicis{
    background-image: url("../img/background/bicis.jpg");
    min-height: 256px;
    min-width: 256px;
    background-size: cover;
    text-align: center;
    color: var(--fontTitle);
    align-content: center;
}

#indumentaria{
    background-image: url("../img/background/indumentariaa.jpg");
    min-height: 256px;
    min-width: 256px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--fontTitle);
    align-content: center;
}

#equipamiento{
    background-image: url("../img/background/equipamiento.png");
    min-height: 256px;
    min-width: 256px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--fontTitle);
    align-content: center;
}

#servicios{
    background-image: url("../img/background/servicios.png");
    min-height: 256px;
    min-width: 256px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--fontTitle);
    align-content: center;
}

#banner{
    background-image: url("../img/slidebar/slide-02.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--fontColorFotter);
    display: flex;
    align-items: center;
    justify-content: end;
    height: 70vh;
}

/*Filtros*/
.filters-category{
    list-style-type: none;
}

.filters-category a{
    font-family: "Nunito Sans", sans-serif; 
    font-size: medium;
    color: var(--fontColor);
}

.filters-talle{
    font-family: "Nunito Sans", sans-serif; 
    font-size: medium;
    padding-left: 30px;
}


.filter-value{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.filter-value input{
    margin: 5px;
}

.filter-value button{
    border-radius:10px;
    background-color: #feed00;
    text-align: center;

}

/*Contenido*/
.card{
    margin: 5px;
}



/*Pie de pagina*/

.icons{
    top: 0;
    height: 60px;
}

footer{
    background-color: #000000c9;
    text-align: center;
    color: var(--fontColorFotter);
    display: flex;

}

.containerFooter ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFooter ul li{
    list-style-type: none;
    padding: 5px 5px;
}

.containerFooter h6{
    padding-bottom: 10px;
    color: var(--fontTitle);
    padding-left: 25px;
}