$font-color-footer: #e5e5e5;

#banner {
  background-image: url("../../img/slidebar/slide-02.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $font-color-footer;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 70vh;
}