$font-title: #feed00;

nav {
  ul {
    list-style-type: none;
    display: flex;

    li {
      display: inline;
      text-align: center;
      margin: 0 5px;

      a {
        color: $font-title;
      }
    }
  }
}